# Configuración de GEE
GEE_PROJECT=inundaciones-proyecto

# Configuración de Flask
FLASK_DEBUG=false

# Configuración de Estaciones a Scrapear (Lista separada por comas)
CONAGUA_HIDROS_STATIONS=BDCTB,SPTTB
CONAGUA_CLIMAS_STATIONS=

# Configuración de Límites de Procesamiento
MAX_SPAN_DEG=8.0
MAX_YEARS_RANGE=10.0
MAX_SPAN_DEG_S2=4.0
MAX_TOTAL_PIXELS=26000000
BASE_PIXELS_PER_FRAME=589824
BASE_PIXELS_S2=262144
MIN_GIF_DIM=256

# Configuración de Limpieza de GIFs
GIF_MAX_AGE_MINUTES=60
GIF_CLEANUP_INTERVAL_S=600
