# Configuración de GEE
GEE_PROJECT=inundaciones-proyecto

# Configuración de Flask
FLASK_DEBUG=false

# Configuración de Estaciones a Scrapear (Lista separada por comas)
CONAGUA_HIDROS_STATIONS=BDCTB,SPTTB
CONAGUA_CLIMAS_STATIONS=
